$fontBody: 'Montserrat', sans-serif;
$primaryColor:#e8e8e8;
$secondaryColor: #f05454;
$thirdColor:#30475e;
$backColor:#333333;
$backCardColor:#424242;
$category:#1769aa;
$priceColor:#357a38;
$w:100%;
$vh:100vh;


