.itemCell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin: .5rem auto;
    border: 1px solid #424242;
}
.itemCell h4 {
    margin: 0;
}
.itemCell .quantity {
    font-weight: bold;
}
.d-none {
    display:none;
}