.StockCounter div:nth-child(1){
    width: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right:1rem;
    border: 1px solid #424242;
    border-radius: 7rem;
    padding: .375rem .75rem;
    min-height: 42px;
}
.StockCounter .stockButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border:none !important;
    padding: 5px;
    cursor: pointer;
}
.StockCounter {
    display: flex;
}
.StockCounter .cartButton {
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 700;
    background:#7b68ee;
    color:#ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 10px 25px rgb(123 104 238 / 50%);
    cursor: pointer;
}
.StockCounter .cartButton:hover {
    background: #5c4dbc;
    border: 1px solid #5c4dbc;
}